* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffaed;
    font-family: 'Roboto', sans-serif;
}

img,
video,
iframe {
    max-width: 100%;
    height: auto;
}

header {
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-style: italic;
}

.header__logo {
    width: 10rem;
    margin: 0 auto;
}

.header__titulo{
    text-align: center;
    color: rgb(228, 173, 90);
    font-size: 30px;
    margin-top: 10px;
}

.main__menu{
    display: flex; 
    flex-direction: row; 
    justify-content:space-around;
    align-items: center; 
}

.main__menu li{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin: 20px;
}

.main__menu li a{
    text-decoration: none;
    color:rgb(228, 173, 90);
    font-size: 20px;
    font-weight: 700;
}
.section__ubicacion{
    width: 100%;
    
    text-align: center;
}
.section__ubicacion p{
   text-align: center;
   
}

.section__ubicacion iframe{
    width:70%;
    height: 40rem;   
}

.section__opciones{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 1rem;
    padding: 5rem;
}

.section__opciones img{
    width: 10rem;
    padding: 0,2rem;
}

footer{
  
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: beige;
        padding: 20px;
}

.logo img {
    height: 100px;
    margin: 30px;
}


.info{
    text-align: center;
}

.info h3 {
    font-family: 'Delicious Handrawn', cursive;
    color: #cca352;
    font-size: 22px;
    margin: 10px;
}

.info ul {
    list-style: none;
   
    
}

.info ul li {
    margin-bottom: 5px;
    color: #74610d;
    font-style: italic;
    
    
}

.info ul li img {
    height: 30px;
    margin: 5px;
    
}

.formulario{
    width: 60%;
    margin: 0 auto;
}

.button-form{
    
    width: 100%;
    height: 60px;
    background: rgba(175, 143, 55, 0.1);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(102, 94, 50);
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid rgba(175, 143, 55, 0.35);
    border-left: 0.5px solid rgba(175, 143, 55, 0.35);
    padding-left: 4rem;
    overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 2rem;

}

.button-form:hover{
    background: rgb(189, 167, 43);
    color: white;
}
